h1 {
  text-align: center;
  text-decoration: underline;
  color:rgb(80, 133, 6);
  font-variant: small-caps;
  font-size:4em;
}
h2 {
  text-align: center;
  color:brown;
}
h3{
  text-decoration: underline;
  text-align: center;
}
h4{
  color:rgb(132, 88, 88)
}
body{
background-color: bisque;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
p {
  font-size:25px;
}
img{
  width:400px;
  margin:20px;
  border-style: ridge;
  border-width: .5em; 
}

span{
  font-style:italic;
}
.sidebar{
  float:right;
  width:"800px";
}
.skinny{
  float:right;
  width: 400px;
  padding:20px;
  border-color: black;
  border-style:solid;
  margin:20px;  
}
.wide{
  max-width: fit-content;
  background-color:blanchedalmond;
  padding:20px;
  border-color: grey;
  border-style:solid;
  margin:20px; 
}
#img2{
  align-items: center;
}
#bg1 {
  background-color:honeydew;
  float:left;
}
#bg2 {
  background-color:lightslategray;
  width: 300px;
}
#bg3 {
  background-color:lightslategray;
  width: 300px;
}
#bg4 {
  background-color:lightslategray;
  width: 300px;
  float:left;
}