h1 {

}

h2 {

}

body{
background-color: bisque;
display:inline-block;
float:right;
}

ul{

}

img{
  width:500px;
  float:left;
}

div{
  
}
/* .sidebar{
  width:"100px";
  background-color: dimgrey;
  
} */